body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* overflow-y: hidden; */
    display: flex;
    flex-direction: column;
    background-image: url('');
    /* background-repeat: ; */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(1px);
}
/* navbar */
.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.jam-box {
    display: flex;
    justify-content: start;
    padding-left: 1rem;
    gap: 1rem;
    flex-direction: column;
    text-shadow: 0 0 10px rgba(10, 10, 10, 0.5); 
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
    font-size: large;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.search-bar {
    height: 30px;
    padding-left: 10px;
    width: 25vw;
    min-width: 100px;
    /* background-color: white; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: -5px 2px 0px rgba(8, 8, 8, 0.7);
}
.search-bar:focus {
    outline: none;
}
.search-bar::placeholder {
    color: black;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.search-button {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: -3px 1.5px 0px rgba(8, 8, 8, 0.7);
}
.search-button:hover {
    width: 70px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: -3px 1.5px 0px black;
}

/* footer */
.footer-box {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin-top: auto;
}
.footerhide {
    height: 100px;
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-self: baseline;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer-left-search-database {
    display: flex;
    align-items: center;
}
.footer-button-search-database {
    /* background-color: transparent; */    
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 40px;
}
.footer-midle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-right {
    display: flex;
    align-items: center;
}
.footer-button-database {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 40px;
}
.database{
    list-style: none;
}

.setting {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
}

.setting-button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: -5px 2px 0px rgba(0, 0, 0, 0.7);
}
.setting-button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}


/* media query */
